:root {
  --yellow-color: #f6e1b9;
  --german-color: #888;
  --finnish-color: rgb(128, 224, 255);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

@media only screen and (min-width: 1050px) {
  body {
    flex-direction: row;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

@media only screen and (min-width: 1050px) {
  .main {
    padding: 0 1rem;
  }
}

.main-header {
  padding-bottom: 1rem;
}

.main-heading {
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  letter-spacing: -2px;
  color: #444;
  background: var(--yellow-color);
}

.main-header-date {
  display: block;
  margin: 1rem 1rem 0;
  /* margin-top: 1rem; */
  /* padding: 0 1rem; */
}

.map-container {
  position: relative;
}

.map {
  display: block;
  height: auto;
  width: calc(100% - 2 * 10px);
  border: 10px solid var(--yellow-color);
  overflow: hidden;
}

@media only screen and (min-width: 1050px) {
  .map {
    height: calc(100% - 2 * 10px);
    width: auto;
  }
}

.controls {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--yellow-color);
}

.hide:not(.show) {
  display: none;
}

.control-btn {
  width: 10ch;
  font-family: inherit;
  font-weight: bold;
}

.battle-time {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 7ch;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: var(--yellow-color);
}

.progress {
  position: absolute;
  bottom: 7px;
  left: 10px;
  width: calc(100% - 2 * 10px);
  height: 10px;
}

.affiliation-section {
  margin-bottom: 1rem;
}

.commander-info {
  margin-left: 1rem;
}

.unit-info {
  position: relative;
  margin: 0 0 1rem;
  padding: 0.5rem 1rem;
  background: var(--yellow-color);
}

.unit-info::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 0.7rem;
  height: 0.7rem;
  content: "";
}

.unit-info.german::before {
  background: var(--german-color);
}

.unit-info.finnish::before {
  background: var(--finnish-color);
}

.unit-list {
  display: flex;
}

.unit-list svg {
  width: 70px;
  height: auto;
}

.footer {
  margin-top: auto;
  padding: 1rem;
  text-align: center;
}

/* SVG styles */

.terrain {
  width: 100%;
  height: 100%;
}

.unit-symbol {
  display: block;
  width: 140px;
  height: auto;
  overflow: visible;
}

.unit-symbol .ts2,
.unit-symbol .ts3 {
  font-size: 30px;
  font-weight: bold;
}

.unit-symbol.german .ss1 {
  fill: var(--german-color);
}

.unit-symbol.finnish .ss1 {
  fill: var(--finnish-color);
}

.ss0 {
  fill: gray;
  stroke: gray;
  stroke-width: 40;
}
.ps0 {
  fill: none;
  stroke: gray;
  stroke-width: 26;
}
.ss1 {
  stroke: black;
  stroke-width: 40;
}
.ps1 {
  fill: none;
  stroke: black;
  stroke-width: 26;
}
.ts0 {
  font-family: Arial;
  font-size: 2517px;
  font-weight: bold;
  fill: gray;
  text-anchor: middle;
}
.ts1 {
  font-family: Arial;
  font-size: 2517px;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}
.ts2 {
  font-family: Arial;
  fill: black;
  text-anchor: end;
}
.ts3 {
  font-family: Arial;
  fill: black;
}
.bs0 {
  fill: gray;
  fill-rule: nonzero;
  stroke: none;
}
.bs1 {
  fill: black;
  fill-rule: nonzero;
  stroke: none;
}
.mountain-infantry .ts2 {
  font-size: 30px;
  font-weight: bold;
}
.mountain-infantry .ts3 {
  font-size: 30px;
  font-weight: bold;
}

.mountain-infantry-hq .ps1 {
  stroke: gray;
  stroke-width: 300;
}
.mountain-infantry-hq .ps2 {
  fill: none;
  stroke: black;
  stroke-width: 26;
}
.mountain-infantry-hq .ps3 {
  fill: none;
  stroke: black;
  stroke-width: 300;
}
.mountain-infantry-hq .ts2 {
  font-size: 30px;
  font-weight: bold;
}
.mountain-infantry-hq .ts3 {
  font-size: 30px;
  font-weight: bold;
}
